header {
	position: relative;
}

#masthead {
	position: fixed;
	width: 100vw;
	z-index: 1000;
	transition: all ease-in-out .2s;
}

.logo-wrapper-header {
	height: 10em;
	width: 10em;
	margin-top: 1.7em;
	margin-bottom: -2em;

	@media (max-width: 600px) {
		display: none;
	}
}